li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 3.5rem;
  margin-top: 10px;
}

body {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* background-color: #f5f3ee; */
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
}

.container_counters {
  color: #333;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

.container_counters ul {
  color: #333;
  margin: 5px;
}

.container_counters ul li {
  margin: 0 25px;
  /* background-color: #fff; */
}

.para_skills li {
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px
}

/*
@media only screen and (max-width:320px) {
  .red_text {
    font-size: 10px;
  }
  .container_counters ul li {
    margin: 0px 12px;
    /* background-color: #fff; */

/* } */

/* .container_counters ul {
    font-size: 10px;
  } */

/* } */

/* @media (max-width: 375px) {
  .container_counters ul {
    font-size: 8px;
  }
}

@media only screen and (max-width:425px) {
  li span {
    font-size: 25px;
  }
  .container_counters ul {
    font-size: 10px;
  }
} */

@media (min-width:320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .container_counters ul {
    font-size: 10px;
  }
  li {
    font-size: 4px;
  }
  .container_counters ul {
    font-size: 12px;
  }
  li span {
    font-size: 30px;
  }
  .container_counters ul li {
    margin: 0px 10px
  }
}

@media (min-width:480px) {
  /* smartphones, Android phones, landscape iPhone */
}

@media (min-width:600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width:801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
  /* hi-res laptops and desktops */
  .container_counters ul {
    font-size: 20px;
  }
  li {
    font-size: 31px;
  }
  .container_counters ul {
    font-size: 31px;
  }
  li span {
    font-size: 72px;
  }
  .container_counters ul li {
    margin: 10px 35px;
  }
}